<a href="https://colab.research.google.com/github/brs147-gif/BTE-320-1/blob/main/BTE_320_In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sales = float(input("Enter a sales value: "))
COGS = sales * .40
GrossProfit = sales - COGS

print(f"Sales: {sales}$")
print(f"Cost of Goods Sold: {COGS}$")
print(f"Gross Profit: {GrossProfit}$")


TaxRate = float(input("Enter a tax rate (%): "))
Taxes = GrossProfit * (TaxRate/100)

print(f"Taxes: {Taxes}$")

NetIncome = GrossProfit - Taxes

print(f"Net Income: {NetIncome}$")

Enter a sales value: 12000
Sales: 12000.0$
Cost of Goods Sold: 4800.0$
Gross Profit: 7200.0$
Enter a tax rate (%): 30
Taxes: 2160.0$
Net Income: 5040.0$

In [ ]:
n1 = float(input("Enter a number: "))
operator = input("Enter an operator (+, -, *, /, **, %, //): ")
n2 = float(input("Enter another number: "))


if operator == "+":
  res = (n1 + n2)
elif operator == "-":
  res = (n1-n2)
elif operator == "*":
  res = (n1*n2)
elif operator == "/":
  res = (n1/n2)
elif operator == "**":
  res = (n1**n2)
elif operator == "%":
  res = (n1%n2)
elif operator == "//":
  res = (n1//n2)
else:
  print("Invalid operation")
  res = None

print(f"Result: {res}")

Enter a number: 4
Enter an operator (+, -, *, /, **, %, //): *
Enter another number: 12
Result: 48.0

In [ ]:

for hours in range(1,9):
  fee = 5 + 2.50 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0

  print(hours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

ticket = 10
init_attendees = 20
fixed_cost = 200

for ad in range(0,201,25):
  revenue = (init_attendees + 2 * round(math.sqrt(ad))) * 10
  costs = fixed_cost + ad
  profit = revenue - costs

  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [36]:
hours = 1
while hours <= 8:
  fee = 5 + 2.50 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0




  print(hours, fee)
  hours += 1

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [44]:
import math

ticket = 10
init_attendees = 20
fixed_cost = 200

ad = 0 # Initialize 'ad' before the while loop
while ad <= 200:
  revenue = (init_attendees + 2 * round(math.sqrt(ad))) * 10
  costs = fixed_cost + ad
  profit = revenue - costs

  print(ad, profit)
  ad += 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80